<section id="about">
  <p class="aboutme">
    A AlumniEI-FEUP é a rede de antigos alunos de Engenharia Informática da FEUP, que procura aproximar a comunidade e fomentar a ligação entre o curso e a indústria, através de diferentes iniciativas.
  </p>
  <ul class="statics">
    <li class="graduated">
      <div class="numbers">1435</div>
      <div class="title">Engenheiros</div>
    </li>
    <li class="age">
      <div class="numbers">12</div>
      <div class="title">Anos de Atividade</div>
    </li>
    <li class="events">
      <div class="numbers">30+</div>
      <div class="title">Eventos Realizados</div>
    </li>
  </ul>
</section>
