<footer id="contacts" class="site-footer">
  <div class="contacts">
    <div>
      <div class="footer-block">
        <div class="title">Morada</div>
        <div>Associação de Antigos Alunos de Engenharia Informática da FEUP</div>
        <div>Rua Dr. Roberto Frias s/n,<br>4200-465 Porto - PORTUGAL</div>
      </div>
      <div class="footer-block">
        <div class="title">E-mail</div>
        <div class="mail"><a href="mailto:alumniei@fe.up.pt" target="_top">alumniei@fe.up.pt</a></div>
        <div class="title">Redes Sociais</div>
        <div class="social">
          <a href="http://fb.com/alumniei" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
          <a href="http://youtube.com/channel/UCuYn5xuAmChRDcSdQrbp-Fw" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
          <a href="http://twitter.com/alumnieifeup" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
        </div>
      </div>
      <div class="footer-block">
        <div class="title">Links úteis</div>
        <div class="links">
          <a href="https://dei.fe.up.pt/" target="_blank">DEI</a>
          <a href="http://fe.up.pt" target="_blank">FEUP</a>
          <a href="https://paginas.fe.up.pt/~feuplink/feuplink/" target="_blank">FEUPLink</a>
        </div>
      </div>
    </div>
  </div>
  <div id="copyright">© 2018 Alumniei-FEUP</div>
</footer>
