<footer id="contacts" class="site-footer">
  <div>
    <div class="title">Morada</div>
    <div>AlumniEI-FEUP Associação de Antigos de Engenharia Informática da FEUP</div>
    <div>Rua Dr. Roberto Frias s/n, 4200-465 Porto - PORTUGAL</div>
  </div>
  <div>
    <div class="title">E-mail</div>
    <a href="mailto:alumniei@fe.up.pt" target="_top">alumniei@fe.up.pt</a>
    <div class="title">Redes Sociais</div>
    <div></div>
  </div>
  <div>
    <div class="title">Links úteis</div>
    <div>DEI</div>
    <div>FEUP</div>
    <div>FEUPLink</div>
  </div>
</footer>
