---
---
@import "../_sass/minima/utils";

#landing {
  .illustration {
    @extend %all-centered;
    height: 75%;

    img {
      max-height: 100%;
    }
  }
}

#about {
  .aboutme {
    position: relative;
    width: 455px;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: -90px;
      width: 150px;
      height: 70px;
      background-color: $primary-color;
      z-index: -1;
    }
  }

  .statics {
    $number-size: 120px;
    $border-width: 20px;
    margin-top: 8 * $spacing-unit;

    li {
      display: inline-block;
      margin-left: #{$number-size / 2};
      margin-right: #{$number-size / 2};

      .numbers {
        border-radius: 50%;
        width: $number-size;
        height: $number-size;
        border-width: $border-width;
        border-style: solid;
        font-size: rem(24px);
        line-height: #{$number-size - (2 * $border-width)};
        margin: 0 auto;
      }

      &.graduated .numbers  {
        border-color: $yellow;
      }

      &.age .numbers {
        border-color: $green;
      }

      &.events .numbers {
        border-color: $orange;
      }

      .title {
        font-size: rem(12px);
        padding-top: 2 * $spacing-unit;
      }
    }
  }
}

#projects {

  .tabs {
    position: relative;
    width: 100%;
    color: $text-color;
    margin: 0;
    text-align: left;

    // tab
    .tab {
      display: block;
      width: 100%;
      left: 0;
      
      // input
      input[name="tabs"] {
        visibility: hidden;
        position: absolute;
        
        // checked + label
        &:checked + label { 
          background: $white;
          color: $primary-color;
        }
      
        // checked + tab-content
        &:checked ~ .tab-content {
          display: block;
        }
      }
      
      // label
      label {
        background: $bckg-color;
        border-bottom:1px solid $text-color;
        color: $text-color;
        cursor: pointer;
        display: block;
        font-size: 1.2em;
        font-weight: bold;
        padding: 1em 0.83em;
        position: relative;
        width: 100%;
        z-index: 100;
      }
      
      .tab-content {
        display: none;
        left: 0;
        width: 100%;
        padding: 1em;
        position: relative;  
        top: 0;
        line-height: 1.7;

        .tab-header {
          position: relative;
          padding: 1em;

          .tab-title {
            font-size: 4em;
            font-weight: bold;
            line-height: 1em;
          }
        }
        
        .tab-body {
          padding: 1em;
          margin-left: 4em;
          margin-bottom: 1em;

          .tab-image {
            width: 100%;
            margin-top: -6em;
          }

          .tab-description {
            padding-top: 1em;
          }
        }
      
        &:after {
          background-color: transparent;
          bottom: 0;
          content: "";
          display: block;
          left:-229px;
          position: absolute;
          top: 0;
          width: 220px;
          z-index:1;	
        }
      }
    }
  }
}

@media all and (min-width:768px) {
  #projects {
    border-left:1px solid $text-color;
    margin: 100px 100px;

    .tabs {
      width: 100%;
      color: $text-color;
      
      // tab
      .tab {
        
        // label
        label {
            background: $bckg-color;
            padding: 1em 2.5%;
            width: 20%;
            border: none;
        }
        
        .tab-content {
          position: absolute;
          width: 70%;
          left: 26.5%;
          top: -50%;
        }
      }
    }
  }
}