/* Reset some basic elements */
* {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/* Basic styling */
html, body {
  height: 100%;
}

html, body, main {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
}

body {
  color: $text-color;
  background-color: $bckg-color;
  display:  flex;
  flex-direction: column;
}

/* Links */
a {
  color: $text-color;
  text-decoration: none;
}

h1 {
  font-size: xxx-large;
  font-weight: bold;
  line-height: 1em;
}