/* Site header */
.site-header {
  position: fixed;
  width: 100%;
  font-size: $small-font-size;
  text-align: center;
  padding-top: 3 * $spacing-unit;

  .logo {
    width: 130px;
    font-size: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    @media screen and (max-width: $phone) {
      &:not(.logo) {
        display: none;
      }
    }
  }

  a:active, a:hover {
    font-weight: bold;
  }
}

/* Page content */
main {
  text-align: center;
}

section,
.site-footer {
  @extend %all-centered;
  height: 100vh;
}

/* footer */
.site-footer {
  background-color: $primary-color;
  color: $white;
}
