/* Site header */
.site-header {
  position: fixed;
  width: 100%;
  font-size: $small-font-size;
  text-align: center;
  padding-top: 3 * $spacing-unit;
  padding-bottom: $spacing-unit;
  z-index: 10;
  background-color: $white;

  .logo {
    width: 130px;
    font-size: 0;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  li {
    display: inline-block;
    vertical-align: middle;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    @media screen and (max-width: $phone) {
      &:not(.logo) {
        display: none;
      }
    }
  }

  a:active, a:hover {
    font-weight: bold;
  }
}

/* Page content */
main {
  text-align: center;
}

section {
  @extend %all-centered;
  height: 100vh;
  display: flex;
  justify-content: center;
  scroll-margin-top: $header-height;
}

#events h1 {
  margin-bottom: 30px;
}

.calendar-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%; /* Limita a largura máxima */
}

.calendar-container iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  border: 0;
}

/* footer */
.site-footer {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  color: $white;
  font-family: $secondary-font-family;
  font-size: $small-font-size;
  height: 45vh;
  padding-bottom: 3 * $spacing-unit;

  .contacts {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: $white;
  }

  .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
  }

  .footer-block {
    display: inline-block;
    vertical-align: top;
    max-width: 200px;
    margin-right: 3 * $spacing-unit;
    margin-left: 3 * $spacing-unit;

    > div {
      margin-top: $spacing-unit;
    }

    .social > a {
      margin-right: $spacing-unit / 2;
    }

    .social > a:hover, 
    .mail > a:hover,
    .mail > a:visited,
    .social > a:visited,
    .links > a:hover,
    .links > a:visited {
      color:rgba($color: #ffffff, $alpha: 0.8)
    }

    .links > a {
      display: block;
    }
  }

  #copyright {
    text-align: center;
  }
}
