<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <section id="landing">
        <div class="illustration"><img src="../assets/illustration.png" /></div>
      </section>
      <section id="about" style="background-color: red;">
        ABOUT
      </section>
      <section id="projects" style="background-color: yellow;">
        Projects
      </section>
      <section id="contacts" style="background-color: #9CE3EE;">
        Contacts
      </section>
      <!-- <div class="wrapper">
        {{ content }}
      </div> -->
    </main>

    <!-- {% include footer.html %} -->

  </body>

</html>
