<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}
  <link rel="stylesheet" href="{{ "/assets/maintenance.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto" rel="stylesheet">

  <body>

    <main id="maintenance">
        <div class="opacity"></div>
        <div class="above">
            <h1>AlumniEI-FEUP</h1>
            <small>Associação de Antigos Alunos de Engenharia Informática da Faculdade de Engenharia da Universidade do Porto</small>
            <div class="contacts">Para mais informações: alumniei at fe.up.pt</div>
        </div>
    </main>

  </body>

</html>
